:root {
  --background: #0a0a0a;
  --foreground: #FFFFFF;
  --jt-content-width: 90%;
  --jt-content-max-width: 1360px;
  --mobile-width: 90%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

   html {
    color-scheme: dark;
  }
}


  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }


@font-face {
    font-family: 'EudoxusSans';
    src: url('/blog/fonts/eudoxus/EudoxusSans-Bold.woff2') format('woff2'),
      url('/blog/fonts/eudoxus/EudoxusSans-Bold.woff') format('woff'),
      url('/blog/fonts/eudoxus/EudoxusSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'EudoxusSans';
    src: url('/blog/fonts/eudoxus/EudoxusSans-Medium.woff2') format('woff2'),
      url('/blog/fonts/eudoxus/EudoxusSans-Medium.woff') format('woff'),
      url('/blog/fonts/eudoxus/EudoxusSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'EudoxusSans';
    src: url('/blog/fonts/eudoxus/EudoxusSans-Regular.woff2') format('woff2'),
      url('/blog/fonts/eudoxus/EudoxusSans-Regular.woff') format('woff'),
      url('/blog/fonts/eudoxus/EudoxusSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'EudoxusSans';
    src: url('/blog/fonts/eudoxus/EudoxusSans-ExtraBold.woff2') format('woff2'),
      url('/blog/fonts/eudoxus/EudoxusSans-ExtraBold.woff') format('woff'),
      url('/blog/fonts/eudoxus/EudoxusSans-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1C1C1E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'EudoxusSans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.footer{
      background: #1C1C1E;
position: relative;
}

  .footer-content{
    width: var(--jt-content-width);
    max-width: var(--jt-content-max-width);
    display: flex;
    align-items: flex-start;
    margin: auto;
    overflow: hidden;
    /* border-top: 1px solid #3e3e3e; */
    padding: 80px 0px 120px;

  }

  .app-section{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-section span{
  font-size: 14px !important;
 
}

  .single-app{
display: flex;
text-decoration: none;
color: #ffffff;
gap: 5px;
margin-top: 6px;
justify-content: center;
  }

  .single-app-icon{
    width: 50px !important;
    height: 50px;
  }

  .single-app-desc{
    margin-top: 0px !important;
  }

  .single-app-parent{
    display: flex;
    gap: 2px;
    flex-direction: column;
  }

  .single-app-name{
    font-weight: bold;
    
  }

  .footer-content .box{
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .footer-content .box.middle{
    align-items: center;
  }

  .footer-content .box.left{
    align-items: flex-start;
  }

  .footer-content .box.right{
    align-items: flex-end;
  }
  

  .footer-content .box.left span{
    font-size: 12px;
    opacity: 0.8;
    margin-top: 5px;
  }

  .footer-content .box.left img{
    width: 140px;
  }


.footer-content .box.middle .h1-tag {
    font-size: 36px;
    font-weight: 700;
}

.footer-content .box.middle .free{
    padding: 11px 22px 12px;
    margin: 24px 0px 4px 0px;
    background: #FFCC00;
    color: #000;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.27);
    border-radius: 21px;
    text-decoration: none;
}


.footer-content .box.middle img{
    width: 170%;
    margin-right: 22px;
    margin-bottom: -360px;
}

.footer-content .box.right a{
    text-decoration: none;
    -webkit-text-decoration: none;
    padding: 10px 0px 11px;
    color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}


 .header-floater-parent{
    z-index: 14;
    
    display: flex;
    justify-content: space-between;
    margin: 30px auto 30px;
    font-weight: 500;
  }

  .header-floater {
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    gap: 34px;
    background: #000;
    align-items: center;
    padding-left: 30px;
    border-radius: 60px;
    border: 1px solid #000000;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
    align-self: center;
  }
  
  .header-floater .free {
    padding: 9px 20px 10px;
    margin: 4px 4px 4px 0px;
    background: #FFCC00;
    color: #000;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.27);
    border-radius: 21px;
  }
  
  .header-floater-parent img {
    width: 48px;
    align-self: center;
  }

ul.wordings {
  margin: 0px;
  padding: 0px;
}

ul.wordings li{
  list-style-type: none;
}

ul.wordings li a{
  color: #FFFFFF !important;
  text-decoration: none !important;
}


@media (max-width: 768px) {
    
    .header-floater a.hpricing,
    .header-floater a.hfeatures,
    .header-floater a.hsupport {
      display: none;
    }

    .header-floater .free{
      margin: 0px;
    }

    .header-floater{
      background: none;
      margin: 0px;
      padding: 0px;
    }

    .header-floater-parent{
      width: var(--mobile-width);
    }



      .footer-content{
        flex-direction: column-reverse;
        align-items: center;
            padding: 60px 0px 80px;
      }

    .footer-content .box.right{
        display: none;
      }

      .footer-content .box.left{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        flex-direction: column-reverse;
      }

      .footer-content .box.middle img{
        margin-right: -5px;
        margin-bottom: -120px;
      }

      .single-app:last-of-type{
        margin-bottom: 20px;
      }

      .appstorelink{
        margin-top: 20px;
      }

      .footer-content .box.middle img{
        display: none;
      }

      .app-section span {
    font-size: 16px !important;
}
.single-app-desc {
    margin-top: 0px !important;
}


}




