.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}


.container{
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.featured{
  height: 600px;
  position: relative;
  margin: 40px auto 30px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;

}

.featuredTitle{
  font-size: 30px;
  font-weight: 900;
}

.featuredDate{
  font-size: 14px;
  margin: 3px 0px 8px;

}

.featuredpost{
  z-index: 2;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 30px;
      background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}

.featuredExcerpt{
  margin-top: 5px;
}

.featuredheaderinner{
  width: 50%;
}

.featuredheader{
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: 1;
}

.wordings{
  display: flex;
  gap: 46px;
  margin-bottom: 120px;
}

.singlewordings{
  width: calc(33% - 10px);
  display: flex;
  gap: 20px
}

.blogheadliner{
  background-image: url('/blog/assets/blog_header_bg.png');
  background-repeat: repeat;
  padding: 30px 35px;
  display: flex;
  
  flex-direction: column;
  gap:50px
}

.blogtitle{
  font-weight: 900;
  border-radius: 50px;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  align-self: flex-start;
}

.blogtag{
font-size: 2em;
}

.singlewordingsheader{
  width: 100%;
  object-fit: cover;
  height: 300px;
   border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.singlewordingsbrief{
   display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 4.8em; /* Fallback for non-webkit, line-height * 2 */
  line-height: 1.5em;
  -webkit-line-clamp: 3; /* if you change this, make sure to change the fallback line-height and height */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}

.singlewordingstitle{
  font-weight: bold;
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 900;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
