.page{
  --mobile-width: 92%;
}

.singleblogpost{
    margin: auto;
      width: 100%;
  max-width: 1440px;
    line-height: 1.5;
}

.singleblogpostsize{
      width: 95%;
      margin: auto;
    max-width: 720px;
    margin-top: 100px;
}

.singleblogpostheader{
width: 100%;
/* max-width: 1280px; */
margin: 30px auto 40px;
display: block;
/* height: 800px; */
height: auto;

object-fit: cover;
max-width: 720px;
font-weight: 900;
border: 1px solid rgba(255, 255, 255, 0.05);
}

.singleblogpostcontent{
    margin-bottom: 120px;
}

.singleblogpostcontent >:not(:has(img)) {
 max-width: min(720px, 95%);
 margin: auto;
 line-height: 1.8;
 /* font-family: 'EB Garamond'; */
font-size: 18px;
}

.singleblogpostcontent >:has(img) img{
max-width: 100%;
margin: 30px auto 0px;
display: block;
border: 1px solid rgba(255, 255, 255, 0.05);
}

/* .singleblogpostcontent li{
  margin-left: 15px;
} */

@media (max-width: 768px) {
    
    .header-floater a.hpricing,
    .header-floater a.hfeatures,
    .header-floater a.hsupport {
      display: none;
    }


    .singleblogpostsize, .singleblogpostcontent{
      width: var(--mobile-width);
    }

    .singleblogpostcontent{
      margin: auto;
      margin-bottom: 80px;
    }

    .singleblogpostcontent >:not(:has(img)) {
margin: 0;
}

.singleblogpostcontent >:has(img) img{
/* margin: 0; */
}

.singleblogpostcontent li{
  margin-left: 20px;
}

.singleblogpostheader{
  height: 300px;
  border: none;
  margin: 25px auto;
}
}